*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.main-container {
    min-width: 1366px;
    min-height: 770px;

    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    font-family: Ubuntu, sans-serif;
}

.header__container {
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;
}

.header__menu {
    display: flex;
}

.journey {
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
}

.journey:hover {
    color: #3CB878;
}

.menu {
    display: flex;
}

.menu-icon {
    list-style-type: none;
    margin-right: 25px;
}

.menu-icon:hover .menu-icon-color {
    fill: #3CB878;
}

.welcome {
    color: #ffffff;
    padding-left: 27px;
    border-left: 1px solid #ffffff;
}

.green-words:hover {
    color: #3CB878;
}

.main-container-s {
    width: 100%;
    height: 712px;
    position: relative;
}

.sign-up-container {
    width: 444px;
    height: 584px;

    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.square {
    width: 18px;
    height: 18px;
    background-color: #3CB878;

    position: absolute;
    top: 38px;
}

.sign-up-form {
    width: 324px;
    height: 515px;

    background-color: #ffffff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form__header {
    font-weight: normal;
    font-size: 20px;
    color: #434343;
}

.sign-up__log-in {
    color: #3CB878;
    font-size: 14px;

    position: absolute;
    top: 6px;
    right: 0;
}

.sign-up__log-in:hover {
    text-decoration: underline;
}

.buttons-registration {
    display: block;
    width: 160px;
    height: 48px;

    border-radius: 2px;

    position: absolute;
    top: 35px;
}

.facebook {
    background-color: #305DB8;
}

.facebook:hover {
    background-color: #022263;
}

.f {
    position: absolute;
    top: 12px;
    left: 16.77px;

    padding-right: 18.77px;
    border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.facebook-word {
    font-size: 16px;
    color: #ffffff;

    position: absolute;
    bottom: 14px;
    right: 24px;
}

.google {
    background-color: #DF4A32;
    right: 0;
}

.google:hover {
    background-color: #AB1F09;
}

.g {
    position: absolute;
    top: 15px;
    left: 12px;

    padding-right: 7px;
    border-right: 1px solid rgba(43, 13, 9, 0.1);
}

.google-word {
    font-size: 16px;

    position: absolute;
    right: 27px;
    top: 14px;
}

.box-or {
    margin-top: 79px;

    display: flex;
    justify-content: center;

    position: relative;
}

.or {
    font-size: 14px;
    color: #848484;
    text-align: center;

    position: absolute;

    background-color: #ffffff;

    padding-left: 3px;
    padding-right: 3px;
}

.box-or::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;

    position: absolute;
    top: calc(50% + 10px);
}

.user-info {
    margin-top: 25px;
}

.forms {
    width: 100%;
    height: 45px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;

    padding-left: 20px;
    font-size: 14px;
    color: #BEBEBE;
    margin-bottom: 15px;
}

.forms:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;

    color: #434343;
}

.agree-text {
    color: #434343;
}

.agree-flag {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;

    margin-right: 8px;
}

/* this part aint working */
.agree-flag:checked {
    color: #3CB878;
}

.green-text {
    color: #3CB878;
}

.green-text:hover {
    text-decoration: underline;
}

.create-account-button {
    font-size: 16px;
    color: #ffffff;

    margin-top: 20px;
    padding: 16px 99px;

    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
}

.create-account-button:hover {
    background-color: #01813F;
}
